* {
  margin: 0;
  padding: 0;
}

section {
  display: grid;
  place-items: center;
  margin-top: 15px;
}

table {
  max-width: 70%;
}

td {
  font-weight: 600;
}

.input-numbers {
  width: 119px;
  margin: 15px 5px;
  padding: 3px;
  font-weight: 400;
  border: 1px solid black;
}

.calculate-button {
  width: 90px;
  padding: 2px 0;
  border: 3px solid darkslategrey;
  font-weight: 500;
}

.resultados {
  font-weight: 500;
}